.navigation{
    width: 800px;
}

.question {
    width: 800px;
    margin: auto;
    font-size: 26px;
    border: 5px solid;
    text-align: center;
    text-color: white;
    background-color: #3EC3C7;
    border-color: #3EC3C7;
}

.answer {
    width: 800px;
    margin: auto;
    font-size: 26px;
    border: 5px solid;
    background-color: #A8E4E5;
    border-color: #3EC3C7;
}

.links {
    width: 800px;
    margin: auto;
    font-size: 24px;
    border: 5px solid;
    background-color: #A8E4E5;
    border-color: #3EC3C7;
}

.image {
    border: 5px solid #3EC3C7;
    display: block;
      margin-left: auto;
      margin-right: auto;
}